{% extends 'home.html' %}
{% block content %}
<br><br><br>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);max-width: 300px;margin: auto;text-align: center;font-family: arial;">
  <img src="{{user.profile.photo.url}}" alt="John" style="width:100%">
  <h1>{{user.first_name}} {{user.last_name}}</h1>
  <p class="title" style="color: grey;font-size: 18px;">{{user.email}}</p>
  <p>{{user.username}}</p>
  <div style="margin: 24px 0;">
    <p>{{user.profile.m_type}}</p>
    <p>{{user.profile.favorate_hero}}</p>
    <p>{{user.profile.favorate_heroin}}</p>
    <p>{{user.profile.favorate_director}}</p>
  </div>
  <p><a href="editprofile" style="border: none;outline: 0;display: inline-block;padding: 8px;color: white;background-color: #000;text-align: center;cursor: pointer;width: 100%;font-size: 18px;text-decoration:none;"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></p>
</div>
{% endblock %}
